<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utg-8">
        <title>John Nonphala NodeJS</title>
        <style media="screen">
        body{
            background: orange;color:white;padding: 30px;
        }
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
        </style>
    </head>
    <body>
        <h1>
                User:<%=user.name%>
        </h1>
        <p> Job: <%=user.job%>

        </p>
    </body>
</html>